<div *ngIf="setupGame && name">
  <form [formGroup]="setupForm" (ngSubmit)="createGame()" >
    <p>
      <label>Выберите цель игры </label>
      <select formControlName="purpose">
        <option value="false">Спасение</option>
        <option value="true" >Возрождение</option>
      </select>
    </p>

    <p>
      <label>Выберите режим игры </label>
      <select formControlName="mode">
        <option value="false">Базовый режим</option>
        <option value="true" >История выживания</option>
      </select>
    </p>

    <p>
      <label>Укажите количество игроков </label>
      <input type = "number" formControlName="amountPlayers">
    </p>

    <p>
      <label>Укажите уникальный код вашей игры </label>
      <input formControlName="link"  />
    </p>
    <button (click)="updateLink()">Другой код</button>

    <p>
      <label>Укажите количество секунд на голосование </label>
      <input formControlName="timeOnVote">
    </p>

    <p>
      <label >Укажите количество секунд на высказывание </label>
      <input formControlName="timeOnExcuse">
    </p>

    <p>
      <label>Укажите количество секунд на голосование </label>
      <input formControlName="timeOnDiscuss">
    </p>

    <p>
      <label> Укажите количество Угроз </label>
      <input formControlName="amountDangers">
    </p>

    <p>
      <label>Укажите количество Угроз </label>
      <input formControlName="amountSpecialConditions">
    </p>

    <button type="submit" [disabled]="!setupForm.valid">
      Создать игру!
    </button>
  </form>




</div>


