  <h2>Начать игру</h2>

  <div>
    <form [formGroup]="userForm" >
      <label >Ваше имя</label>
      <input formControlName="name"/>
    </form>
  </div>

  <div>
    <button class="set-button" (click)="goToGameSetup()">
      Создать игру!
    </button>
    <button class="set-button" (click)="goToGameJoin()">
      Присоединиться к игре
    </button>
  </div>
<router-outlet></router-outlet>
  <div *ngIf="webSocketService.ErrorData"> Error: {{ webSocketService.ErrorData.body.description}}</div>


