<h2>Начать игру</h2>

<div>
  <form [formGroup]="userForm" >
    <label >Ваше имя</label>
    <input formControlName="name"/>
  </form>
</div>

<div>
  <button class="set-button" (click)="setSetupGame()">
    Создать игру!
  </button>
  <button class="set-button" (click)="setFormLink()">
    Присоединиться к игре
  </button>
</div>


<div *ngIf="formLink && userForm.get('name').value">
  <form [formGroup]="joinForm" (ngSubmit)="joinGame()" >
    <label>Код для присоединения </label>
    <input formControlName="link" />
    <button type="submit" [disabled]="!joinForm.valid">
      Присоединиться!
    </button>
  </form>
</div>


<app-game-setup [setupGame]="setupGame" [name]="userForm.get('name').value"></app-game-setup>



